:root {
  /* Colors */
  --color-bg: #212539;
  --color-row-yellow: #DAAA00;
  --color-row-offwhite: #D9D9D9;
}

.bg-custom {
  background-color: var(--color-bg);
}

.btn-primary-yellow {
  background-color: var(--color-row-yellow);
  color: black;
}

.btn-secondary-yellow {
  border: 3px solid var(--color-row-yellow);
  background-color: transparent;
}

.footer {
  background-color: #12131A;
}

.header-nav a {
  color: white !important;
}

button,
a {
  cursor: pointer;
}
